Flask-SQLAlchemy
flask-login
flask
Click
dnspython
eventlet
Flask-SocketIO
Flask-WTF
greenlet
itsdangerous
Jinja2
MarkupSafe
monotonic
python-engineio
python-socketio
six
Werkzeug
WTForms==2.2.1
