{% extends "base.html" %} {% block title %}Laternerd test 10{% endblock %}
{% block content %}
<html id="ClearNotifications" onclick="resetTitle()">

<head>
    <title>School chat: {{ room }}</title>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chat.css') }}" />
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='chat.js') }}"></script> -->
    <script>
        var title = document.title;
        var count = 0;
        function newUpdate() {
            update = setInterval(checkTabFocused, 2000);
        }
        function changeTitle() {
            count++;
            var newTitle = '(' + count + ') ' + title;
            document.title = newTitle;
        }
        var docBody = document.getElementById('site-body');
        docBody.onload = newUpdate; // code block to be executed

        function checkTabFocused() {
            if (document.visibilityState === 'visible') {
                console.log('✅ browser tab has focus');
                function resetTitle() {
                    document.title = title;
                }
            } else {
                console.log('⛔️ browser tab does NOT have focus');


                changeTitle()
            }
        }
        // ✅ Add event listener
        document.addEventListener('visibilitychange', checkTabFocused);


        function resetTitle() {
            document.title = title;
            count = 0;
        }

    </script>
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {
            socket = io.connect('https://' + document.domain + ':' + location.port + '/chat');

            socket.on('connect', function () {
                socket.emit('joined', {});
            });

            //joined function
            socket.on('status', function (data) {
                $('#joined').val($('#joined').val() + '<' + data.msg + '>\n');
                $('#joined').scrollTop($('#joined')[0].scrollHeight);
            });
            //messages
            socket.on('message', function (data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function (data) { checkTabFocused() });

            $('#text').keypress(function (e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', { msg: text });
                }
            });
        });


    </script>
</head>

<body align="center">
    <h1 style="text-align:center;">School chat {{ room }}</h1>
    <textarea id="chat" cols="80" rows="20" readonly>
        {%for history1 in history%}
        {{history1.msgh}} {%endfor%}
        </textarea>
    <textarea id="joined" cols="40" rows="20" readonly></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="#" onclick="leave_room();">Leave this room</a>
    <p></p>
</body>

</html>
{% endblock %}