{% extends "base.html" %} {% block title %}Laternerd test 10{% endblock %}
{% block content %}
<html id="ClearNotifications" onclick="resetTitle()" lang="en">

<head>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/chat.css') }}" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
</head>
<body id="site-body">
    <div class="AllMessages" id="AllMessages">
        {% if msgid %}
        <ol class="AllMessagesOL" id="AllMessagesOL">
            {%for i in range (50)[::-1] %}
            {% with sender=History.query.filter_by(id=msgid -i).first() %}
            {% with userdata=sender.userid %}
            {% if userdata and sender %}
            <li id="chat-messages-{{ sender.id }}">
                <div class="messagecozyMessage" id="messagecozyMessage-{{ sender.id }}" data-list-item-id="chat-messages___chat-messages-{{ sender.id  }}"
                    role="article" tabindex="-1" aria-setsize="-1" aria-roledescription="Message">
                    <div class="contents" id="contents-{{ sender.id  }}">
                        <img class="user-avatar" src="{{userdata.icon}}" onerror="this.src='static/images/usericons/default_icon.png'">
                            <div class="name-time-msg" id="name-time-header-{{ sender.id}}">
                                <h2 class="name-time-header" id="name-time-header-{{ sender.id}}" aria-labelledby="message-username-{{ sender.id}}-message-timestamp-{{ sender.id}}">
                                    <span class="headerText" id="message-username-{{ sender.id }}"></span>
                                    <span class="message-username-name">{{userdata.UserName}}</span>
                                    <span class="timestamp" id="timestamp-{{ sender.id}}">
                                        <time class="message-timestamp" id="message-timestamp-{{ sender.id}}"><i class="separator" id="separator-{{ sender.id}}"></i></time>
                                    </span>
                                </h2>
                                <div class="messageContent" id="message-content-{{ sender.id}}">{{ sender.msg }}</div>
                            </div>
                    </div>
                </div>
            </li>
                <script>
                    // Edited  var defaultLongDateFormat = { L: 'DD/MM/YYYY',} in moment.js
                    // Elements needs to be created before adding to them 
                    var timesent = moment("{{ sender.Timestamp }}").calendar();
                    document.getElementById("message-timestamp-{{ sender.id }}").textContent += timesent;
                </script>
                {% endif %}
                {% endwith %}
                {% endwith %}
                
            {%endfor%}
        </ol>
        {% else %}
        <li>nothing</li>
        {% endif%}
    </div>
    <input id="text" size="80" placeholder="Enter your message here" autocomplete="off"><br><br>
</body>

</html>
{% endblock %}