{% extends "base.html" %} {% block title %}Laternerd test 10{% endblock %}

{% block content %}
<html>

 <head>
  </head>
    <body>
      <h1>I've reset users and now it should be permanent from now on</h1>
      <p style="color: aliceblue;">I've got it to work!!!! Minecraft 1.18.1 Server (mc.laternerd.net)</p>
      <p>Change log  31/3/22</p>
      <ul>
        <li>Changed how user data is saved(No one can access it and passwords are encrypted)</li>
        <li>Chat text-box is now readonly</li>
        <li>Changed signup/login from username to email(for future features)</li>
        <li>Added suggestions page</li>
      </ul>
    </body>
</html>
{% endblock %}
