{% extends "base.html" %} {% block title %}Laternerd test 10{% endblock %}

{% block content %}
<html>
 <head>
  </head>
  <link rel="stylesheet" type="text/css" href="static/home.css" />
    <body>
      <p>I've got it to work!!!! Minecraft 1.18.1 Server (mc.laternerd.net)</p>
      <p>Change log 6/4/22</p>
        <ul>
          <li>Moved ("" has entered the room) function to another window. This is a temporary thing until user presence is added.</li>
          <li>Centered Chat area</li>
          <li>Added favico (tab icon)</li>
          <li>Added selection window when selecting a room</li>
        </ul>
      <p>Change log 31/3/22</p>
        <ul>
          <li>Changed how user data is saved(No one can access it and passwords are encrypted)</li>
          <li>Chat text-box is now readonly</li>
          <li>Added username & email to signup/login page (for future features)</li>
          <li>Added suggestions page</li>
        </ul>

    </body>
</html>






{% endblock %}
